html, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

@import "bulma/sass/utilities/initial-variables.sass";

$black: #212529;

$family-primary: Arial, sans-serif;
$text: $black;
$primary: $black;

// $button-color: $white;
// $button-background-color: $black;
// $button-text-color: $white;
// $button-text-hover-color: $white;
$button-border-color: $black;
$button-hover-border-color: $black;
$button-text-hover-background-color: rgba(33, 37, 41, 0.16);
$button-focus-border-color: $black;
$button-focus-box-shadow-color: none;

.grey-text {
  color: #000000; 
  opacity: 0.54;
}

body.dark {
  color: $white;
  background-color: $black;

  $slider-track-background: $black;

  & * {
    background-color: $black;
    color: $white;
  }

  & .is-primary {
    background-color: $white;
    color: $black;
  }

  & a.not-outlined:hover {
    border-color: $white;
    color: $white;
  }

  & .input, & .button {
    background-color: $white;
    color: $black;
  }

  & input[type=range] {

    &::-ms-track {
      background: #ffffff;
    }

    &::-moz-range-track {
      background: #ffffff;
    }

    &::-webkit-slider-runnable-track {
      background: #ffffff;
    }

    &::-webkit-slider-thumb {
      background: #ffffff;
    }

    &::moz-range-thumb {
      background: #ffffff;
    }

    &::-ms-thumb {
      background: #ffffff;
    }
  }

  & .grey-text {
    color: #ffffff; 
    opacity: 1;
  }
}

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/grid/_all.sass";
@import "bulma/sass/elements/_all.sass";
@import "bulma/sass/layout/footer.sass";
@import "bulma/sass/components/_all.sass";


// @import "bulma/bulma.sass";

$slider-radius: 2rem;
$slider-thumb-radius: 2rem;
$slider-thumb-shadow: none;
$slider-track-background: $black;
$slider-track-radius: 2rem;
$slider-track-border: 0px solid $grey;
$slider-track-shadow: 0px 0px 0px $grey;
$slider-thumb-border: 1px solid $black;
$slider-thumb-background: $black;
$track-height: 2px;
$thumb-size: 1.5rem;

input[type=range] {
  &.slider {
    -webkit-appearance: none;
    appearance: none;
    margin: 1rem 0;
    background: transparent;

    &.is-fullwidth {
      display: block;
      width: 100%;
    }

    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      cursor: pointer;
      // animate: 0.2s;
      box-shadow: $slider-track-shadow;
      background: $slider-track-background;
      border-radius: $slider-track-radius;
      border: $slider-track-border;
      width: 100%;
      height: $track-height;
    }

    &::-moz-range-track {
      cursor: pointer;
      // animate: 0.2s;
      box-shadow: $slider-track-shadow;
      background: $slider-track-background;
      border-radius: $slider-track-radius;
      border: $slider-track-border;
      width: 100%;
      height: $track-height;
    }

    &::-ms-track {
      cursor: pointer;
      // animate: 0.2s;
      box-shadow: $slider-track-shadow;
      background: $slider-track-background;
      border-radius: $slider-track-radius;
      border: $slider-track-border;
      width: 100%;
      height: $track-height;
    }

    &::-ms-fill-lower,
    &::-ms-fill-upper {
      background: $grey-lighter;
      border-radius: $slider-radius;
    }

    &::-webkit-slider-thumb {
      box-shadow: $slider-thumb-shadow;
      border: $slider-thumb-border;
      border-radius: $slider-thumb-radius;
      background: $slider-thumb-background;
      cursor: pointer;
      -webkit-appearance: none;
      transition: transform .2s ease, -webkit-transform .2s ease;
      transition: transform .2s ease;
      transition: -webkit-transform .2s ease;
      height: $thumb-size;
      width: $thumb-size;
      margin-top: -( $thumb-size / 2 );
    }

    &::-moz-range-thumb {
      box-shadow: $slider-thumb-shadow;
      border: $slider-thumb-border;
      background: $slider-thumb-background;
      border-radius: $slider-thumb-radius;
      cursor: pointer;
      transition: transform .2s ease, -webkit-transform .2s ease;
      transition: transform .2s ease;
      transition: -webkit-transform .2s ease;
      height: $thumb-size;
      width: $thumb-size;
    }

    &::-ms-thumb {
      box-shadow: $slider-thumb-shadow;
      border: $slider-thumb-border;
      background: $slider-thumb-background;
      border-radius: $slider-thumb-radius;
      cursor: pointer;
      transition: transform .2s ease, -webkit-transform .2s ease;
      transition: transform .2s ease;
      transition: -webkit-transform .2s ease;
      height: $thumb-size;
      width: $thumb-size;
    }

  }
}

.fat-border {
  border-width: 2px;
}

.footer {
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: inherit;
}

.vfull {
  height: 100%;
}

.btn-tasks {
  margin-right: 1rem;
}

.not-outlined {
  border-color: transparent;
  &:hover {
    border-color: $black;
  }
}

.invisible {
  visibility: hidden;
}

.hide {
  display: none;
}

.stop {
  @extend .is-medium;
  &:hover {
    cursor: pointer;
  }
  & > i {
    font-size: 1.325rem;
  }
}

.focus-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-item img {
  max-height: none;
}

.btn-work {
  background-color: $white;
  border-color: #339AF0;
  color: #339AF0;

  &:hover {
    border-color: #339AF0;
    background-color:rgba(51, 154, 240, 0.16);
    color: #339AF0;
  }

  &:active, &:focus {
    border-color: #339AF0;
    background-color:#339AF0;
    color: $white;
  }
}

.btn-play {
  background-color: $white;
  border-color: #FCC419;
  color: #FCC419;

  &:hover {
    border-color: #FCC419;
    background-color:rgba(252, 196, 25, 0.16);
    color: #FCC419;
  }

  &:active, &:focus {
    border-color: #FCC419;
    background-color:#FCC419;
    color: $white;
  }
}

.btn-learn {
  background-color: $white;
  border-color: #51CF66;
  color: #51CF66;

  &:hover {
    border-color: #51CF66;
    background-color:rgba(81, 207, 102, 0.16);
    color: #51CF66;
  }

  &:active, &:focus {
    border-color: #51CF66;
    background-color:#51CF66;
    color: $white;
  }
}

.btn-break {
  background-color: $white;
  border-color: #FA5252;
  color: #FA5252;

  &:hover {
    border-color: #FA5252;
    background-color:rgba(250, 82, 82, 0.16);
    color: #FA5252;
  }

  &:active, &:focus {
    border-color: #FA5252;
    background-color:#FA5252;
    color: $white;
  }
}

input.black {
  border: 2px solid $black;
  
  &::-webkit-input-placeholder { 
    /* Chrome/Opera/Safari */
    color: $black;
  }
  &::-moz-placeholder { 
    /* Firefox 19+ */
    color: $black;
  }
  &:-ms-input-placeholder { 
    /* IE 10+ */
    color: $black;
  }
  &:-moz-placeholder { 
    /* Firefox 18- */
    color: $black;
  }
}