html, #root, body {
  height: 100%;
}

#root {
  padding-top: 3.25rem;
}

body {
  font-family: sans-serif;
}

@import "bulma/sass/utilities/initial-variables.sass";
@import "./variables.scss";

$slider-radius: 2rem;
$slider-thumb-radius: 2rem;
$slider-thumb-shadow: none;
$slider-track-background: $black;
$slider-track-radius: 2rem;
$slider-track-border: 0px solid $grey;
$slider-track-shadow: 0px 0px 0px $grey;
$slider-thumb-border: 1px solid $black;
$slider-thumb-background: $black;
$track-height: 2px;
$thumb-size: 1.5rem;

html.dark {
  color: $white;
  background-color: $black;
  $slider-track-background: $black;

  & body {
    color: $white;
    background-color: $black;
  }

  & * {
    background-color: $black;
    color: $white;
  }

  & a {
    color: $white;
  }

  & .is-primary {
    background-color: #424242;
    color: $white;

    &:hover {
      background-color: #424242;
    }
  }

  & a.not-outlined:hover {
    border-color: $white;
    color: $white;
  }

  & .input {
    background-color: $white;
    color: $black;
    border-color: $white;
  }

  & .checkbox {
    &:hover {
      color: $white;
    }
  }

  & .nav-btn {
    background-color: transparent;
    border-color: $white;
    color: $white;

    &:hover, &:active {
      border-color: $white;
      background-color: #424242;
    }

    &.not-outlined {
      border-color: transparent;
    }
  }

  & .logs-header {
    border-bottom: solid 1px $white;
    color: $white;
  }

  & .btn-tasks {
    background-color: transparent;
    color: inherit;
  }

  & input[type=range] {

    &::-ms-track {
      background: #ffffff;
    }

    &::-moz-range-track {
      background: #ffffff;
    }

    &::-webkit-slider-runnable-track {
      background: #ffffff;
    }

    &::-webkit-slider-thumb {
      background: $white;
      border-color: $white;
    }

    &::moz-range-thumb {
      background: $white;
      border-color: $white;
    }

    &::-ms-thumb {
      background: $white;
      border-color: $white;
    }

  }

  & .grey-text {
    color: #ffffff; 
    opacity: 1;
  }
}

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/grid/_all.sass";
@import "bulma/sass/elements/_all.sass";
@import "bulma/sass/layout/footer.sass";
@import "bulma/sass/components/_all.sass";

a {
  color: inherit;
}

input[type=range] {
  &.slider {
    -webkit-appearance: none;
    appearance: none;
    margin: 1rem 0;
    background: transparent;

    &.is-fullwidth {
      display: block;
      width: 100%;
    }

    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      cursor: pointer;
      // animate: 0.2s;
      box-shadow: $slider-track-shadow;
      background: $slider-track-background;
      border-radius: $slider-track-radius;
      border: $slider-track-border;
      width: 100%;
      height: $track-height;
    }

    &::-moz-range-track {
      cursor: pointer;
      // animate: 0.2s;
      box-shadow: $slider-track-shadow;
      background: $slider-track-background;
      border-radius: $slider-track-radius;
      border: $slider-track-border;
      width: 100%;
      height: $track-height;
    }

    &::-ms-track {
      cursor: pointer;
      // animate: 0.2s;
      box-shadow: $slider-track-shadow;
      background: $slider-track-background;
      border-radius: $slider-track-radius;
      border: $slider-track-border;
      width: 100%;
      height: $track-height;
    }

    &::-ms-fill-lower,
    &::-ms-fill-upper {
      background: $grey-lighter;
      border-radius: $slider-radius;
    }

    &::-webkit-slider-thumb {
      box-shadow: $slider-thumb-shadow;
      border: $slider-thumb-border;
      border-radius: $slider-thumb-radius;
      background: $slider-thumb-background;
      cursor: pointer;
      -webkit-appearance: none;
      transition: transform .2s ease, -webkit-transform .2s ease;
      transition: transform .2s ease;
      transition: -webkit-transform .2s ease;
      height: $thumb-size;
      width: $thumb-size;
      margin-top: -( $thumb-size / 2 );
    }

    &::-moz-range-thumb {
      box-shadow: $slider-thumb-shadow;
      border: $slider-thumb-border;
      background: $slider-thumb-background;
      border-radius: $slider-thumb-radius;
      cursor: pointer;
      transition: transform .2s ease, -webkit-transform .2s ease;
      transition: transform .2s ease;
      transition: -webkit-transform .2s ease;
      height: $thumb-size;
      width: $thumb-size;
    }

    &::-ms-thumb {
      box-shadow: $slider-thumb-shadow;
      border: $slider-thumb-border;
      background: $slider-thumb-background;
      border-radius: $slider-thumb-radius;
      cursor: pointer;
      transition: transform .2s ease, -webkit-transform .2s ease;
      transition: transform .2s ease;
      transition: -webkit-transform .2s ease;
      height: $thumb-size;
      width: $thumb-size;
    }

  }
}

.nav-btn {
  &:hover, &:active {
    background-color: $black;
    color: $white;
  }
}

.grey-text {
  color: #000000; 
  opacity: 0.54;
}

.logs-header {
  border-bottom: solid 1px rgba(33,37,41, .16);
  color: $black;
}

.logs-header.disabled {
  color: rgba(33,37,41, .16);
}

.fat-border {
  border-width: 2px;
}

.footer {
  padding: 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 30;
  opacity: 1;
  background-color: $white;
}

.vfull {
  height: 100%;
}

.btn-tasks {
  margin-right: 1rem;
}

.not-outlined {
  border-color: transparent;
  &:hover {
    border-color: $black;
  }
}

.hide {
  display: none;
}

.stop {
  @extend .is-medium;
  &:hover {
    cursor: pointer;
  }
  & > i {
    font-size: 1.325rem;
  }
}

.focus-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-item img {
  max-height: none;
}

.btn-work {
  border-color: #339AF0 !important;
  color: #339AF0 !important;

  &:hover {
    border-color: #339AF0 !important;
    background-color:rgba(51, 154, 240, 0.16) !important;
    color: #339AF0 !important;
  }

  &:active, &:focus {
    border-color: #339AF0 !important;
    background-color:#339AF0 !important;
    color: $white !important;
  }
}

.btn-play {
  border-color: #FCC419 !important;
  color: #FCC419 !important;

  &:hover {
    border-color: #FCC419 !important;
    background-color:rgba(252, 196, 25, 0.16) !important;
    color: #FCC419 !important;
  }

  &:active, &:focus {
    border-color: #FCC419 !important;
    background-color:#FCC419 !important;
    color: $white !important;
  }
}

.btn-learn {
  border-color: #51CF66 !important;
  color: #51CF66 !important;

  &:hover {
    border-color: #51CF66 !important;
    background-color:rgba(81, 207, 102, 0.16) !important;
    color: #51CF66 !important;
  }

  &:active, &:focus {
    border-color: #51CF66 !important;
    background-color:#51CF66 !important;
    color: $white !important;
  }
}

.btn-break {
  border-color: #FA5252 !important;
  color: #FA5252 !important;

  &:hover {
    border-color: #FA5252 !important;
    background-color:rgba(250, 82, 82, 0.16) !important;
    color: #FA5252 !important;
  }

  &:active, &:focus {
    border-color: #FA5252 !important;
    background-color:#FA5252 !important;
    color: $white !important;
  }
}

input.is-black {  
  &::-webkit-input-placeholder { 
    /* Chrome/Opera/Safari */
    color: $black;
  }
  &::-moz-placeholder { 
    /* Firefox 19+ */
    color: $black;
  }
  &:-ms-input-placeholder { 
    /* IE 10+ */
    color: $black;
  }
  &:-moz-placeholder { 
    /* Firefox 18- */
    color: $black;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: $black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.tlb {
  animation: slidein 0.5s ease;
}

@keyframes slidein {
  from { transform: scaleX(0); }
  to   { transform: scaleX(1); }
}