html, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

$primary-color: #212529;

$slider-thumb-background: $primary-color;
$slider-track-background: $primary-color;

$family-primary: Arial, sans-serif;
$text: $primary-color;

$button-border-color: $primary-color;
$button-border-width: 2px;

$button-text-hover-background-color: rgba(33, 37, 41, 0.16);
$button-hover-border-color: $primary-color;

@import "bulma/bulma.sass";
@import "bulma-slider/src/sass/index.sass";

$slider-thumb-radius: 2rem;

.slider {
  &::-webkit-slider-runnable-track {
    height: 1px;
  }
    
  &::-moz-range-track{
    height: 1px;
  }
  
  &::-ms-track {
    height: 1px;
  }
}

.footer {
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: inherit;
}

.vfull {
  height: 100%;
}

.btn-circle {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #212529;
}

.btn-tasks {
  margin-right: 1rem;
}

.not-outlined {
  border-color: transparent;
  &:hover {
    border-color: $primary-color;
  }
}

.button {
  font-weight: bold;
  font-size: 0.875rem;
}

.invisible {
  visibility: hidden;
}

.hide {
  display: none;
}

.stop {
  @extend .is-medium;
  &:hover {
    cursor: pointer;
  }
  & > i {
    font-size: 1.325rem;
  }
}

.focus-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-item img {
  max-height: none;
}

.control {
  height: 2.85em;
}

.btn-work {
  background-color: $white;
  border-color: #339AF0;
  color: #339AF0;

  &:hover {
    border-color: #339AF0;
    background-color:rgba(51, 154, 240, 0.16);
    color: #339AF0;
  }

  &:active, &:focus {
    border-color: #339AF0;
    background-color:#339AF0;
    color: $white;
  }
}

.btn-play {
  background-color: $white;
  border-color: #FCC419;
  color: #FCC419;

  &:hover {
    border-color: #FCC419;
    background-color:rgba(252, 196, 25, 0.16);
    color: #FCC419;
  }

  &:active, &:focus {
    border-color: #FCC419;
    background-color:#FCC419;
    color: $white;
  }
}

.btn-learn {
  background-color: $white;
  border-color: #51CF66;
  color: #51CF66;

  &:hover {
    border-color: #51CF66;
    background-color:rgba(81, 207, 102, 0.16);
    color: #51CF66;
  }

  &:active, &:focus {
    border-color: #51CF66;
    background-color:#51CF66;
    color: $white;
  }
}

.btn-break {
  background-color: $white;
  border-color: #FA5252;
  color: #FA5252;

  &:hover {
    border-color: #FA5252;
    background-color:rgba(250, 82, 82, 0.16);
    color: #FA5252;
  }

  &:active, &:focus {
    border-color: #FA5252;
    background-color:#FA5252;
    color: $white;
  }
}