$black: #212529;
$family-primary: Arial, sans-serif;
$text: $black;
$primary: $black;
$button-border-color: $black;
$button-hover-border-color: $black;
$button-text-hover-background-color: rgba(33, 37, 41, 0.16);
$button-focus-border-color: $black;
$button-focus-box-shadow-color: none;