$black: #212529;
$family-primary: Arial, sans-serif;
$text: $black;
$primary: $black;
$button-border-color: $black;
$button-hover-border-color: $black;
$button-focus-border-color: $black;
$button-focus-box-shadow-color: none;
$weight-bold: 900;